/* Styles for Containers  */

/* Styles for Containers BlackTitle Container */
.BlackTitleTitle {padding:0px 0px 0px 0px; float:left;}
.BlackTitleTitle h1, .BlackTitleTitle .ContainerTitle{padding:0px; margin:0px;font-family:Arial, Helvetica, sans-serif;font-size:28px;font-weight: normal;color:#000000;}
.BlackTitleWidth { margin:0px 0px 10px 0px; padding:0px;}
.BlackTitleTopMIddle {padding:0px 0px 0px 0px;}
.BlackTitleContentpane {text-align:left;vertical-align: top;padding:5px 0px 0px 0px; clear:both;}
.BlackTitleIcon {float:left;} .BlackTitleIcon img { position:relative; margin:0px 5px 0px 0px;}
.BlackTitleVisibilitycell {float:right;text-align: right;}
.BlackTitleTitleTable {width:100%;}

/* Styles for Containers SkyBlueTitle Container */
.SkyBlueTitleTitle {padding:0px 0px 0px 0px; float:left;}
.SkyBlueTitleTitle h1, .SkyBlueTitleTitle .ContainerTitle{padding:0px; margin:0px;font-family:Arial, Helvetica, sans-serif;font-size:13px;font-weight: bold;color:#a1c3ff;}
.SkyBlueTitleWidth { margin:0px 0px 10px 0px; padding:0px;}
.SkyBlueTitleTopMIddle {padding:0px 0px 0px 0px;}
.SkyBlueTitleContentpane {text-align:left;vertical-align: top;padding:5px 0px 0px 0px; clear:both;}
.SkyBlueTitleIcon {float:left;}  .SkyBlueTitleIcon img { position:relative; margin:0px 5px 0px 0px;}
.SkyBlueTitleVisibilitycell {float:right;text-align: right;}

/* Styles for Containers BlueTitle Container */
.BlueTitleTitle {padding:0px 0px 0px 0px; float:left;}
.BlueTitleTitle h1, .BlueTitleTitle .ContainerTitle{padding:0px; margin:0px;font-family:Arial, Helvetica, sans-serif;font-size:13px;font-weight: bold;color:#0c62aa;}
.BlueTitleWidth { margin:0px 0px 10px 0px; padding:0px;}
.BlueTitleTopMIddle {padding:0px 0px 0px 0px;}
.BlueTitleContentpane {text-align:left;vertical-align: top;padding:5px 0px 0px 0px; clear:both;}
.BlueTitleIcon {float:left;}  .BlueTitleIcon img { position:relative; margin:0px 5px 0px 0px;}
.BlueTitleVisibilitycell {float:right;text-align: right;}

/* Styles for Containers GrayTitle Container */
.GrayTitleTitle {padding:0px 0px 0px 0px; float:left;}
.GrayTitleTitle h1, .GrayTitleTitle .ContainerTitle{padding:0px; margin:0px;font-family:Arial, Helvetica, sans-serif;font-size:13px;font-weight: bold;color:#494f57;}
.GrayTitleWidth { margin:0px 0px 10px 0px; padding:0px;}
.GrayTitleTopMIddle {padding:0px 0px 0px 0px;}
.GrayTitleContentpane {text-align:left;vertical-align: top;padding:5px 0px 0px 0px; clear:both;}
.GrayTitleIcon {float:left;}  .GrayTitleIcon img { position:relative; margin:0px 5px 0px 0px;}
.GrayTitleVisibilitycell {float:right;text-align: right;}

/* Styles for Containers GrayTitleSmallTitle Container */
.GrayTitleSmallTitleTitle {padding:0px 0px 0px 0px; float:left;}
.GrayTitleSmallTitleTitle h1, .GrayTitleSmallTitleTitle .ContainerTitle{padding:0px; margin:0px;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight: normal;color:#797c80; text-transform:uppercase;}
.GrayTitleSmallTitleWidth { margin:0px 0px 10px 0px; padding:0px;}
.GrayTitleSmallTitleTopMIddle {padding:0px 0px 0px 0px;}
.GrayTitleSmallTitleContentpane {text-align:left;vertical-align: top;padding:5px 0px 0px 0px; clear:both;}
.GrayTitleSmallTitleIcon {float:left;}  .GrayTitleSmallTitleIcon img { position:relative; margin:0px 5px 0px 0px;}
.GrayTitleSmallTitleVisibilitycell {float:right;text-align: right;}

/* Styles for Containers BlueTitleBar Container */
.BlueTitleBarTitle {padding:0px 0px 0px 0px; float:left;}
.BlueTitleBarTitle h1, .BlueTitleBarTitle .ContainerTitle{padding:0px; margin:0px;font-family:Arial, Helvetica, sans-serif;font-size:18px;font-weight: normal;color:#FFFFFF; }
.BlueTitleBarWidth { margin:0px 0px 10px 0px; padding:1px; border:1px solid #ebebeb;}
.BlueTitleBarTopMIddle {padding:5px 3px 3px 8px; background:#0c62aa;}
.BlueTitleBarContentpane {text-align:left;vertical-align: top;padding:5px 0px 0px 0px; clear:both;}
.BlueTitleBarIcon {float:left;}  .BlueTitleBarIcon img { position:relative; margin:0px 4px 0px 0px;}
.BlueTitleBarVisibilitycell {float:right;text-align: right;}

/* Styles for Containers NoTitleBottomPadding Title Container */
.GrayBorderNoTitleWidth { padding:2px; margin:0px 0px 10px 0px; border:1px solid #ebebeb;}
.GrayBorderNoTitleContentpane {	text-align: left;vertical-align: top;padding:0px 0px 0px 0px; clear:both;}

/* Styles for Containers NoTitleBottomPadding Title Container */
.NoTitleBottomPaddingTitleWidth { padding:0px 0px 10px 0px;}
.NoTitleBottomPaddingTitleContentpane {	text-align: left;vertical-align: top;padding:0px 0px 0px 0px; clear:both;}

/* Styles for Containers NoPaddingNoTitle Title Container */
.NoPaddingNoTitleTitleWidth { padding:0px 0px 0px 0px;}
.NoPaddingNoTitleTitleContentpane {	text-align: left;	vertical-align: top;	padding:0px 0px 0px 0px; clear:both;}

.ClearFloat {clear:both;height:0px;font-size:0px;line-height:0px;}
.BottomAction { text-align:right;font-family:Verdana;font-size: 8pt;color: #000000; clear:both;}
.TitleActionscell {float:left;}
.TitleActionscell table{width:15px;}

/* 5 May 2009 */

/* Styles for Containers GreenTitleBig Container */
.GreenTitleWidth { margin:0px 0px 10px 0px; padding:0px; }
.GreenTitleWidth h1 {padding:0px 0px 0px 33px; margin:0px 0px 12px 0; font-family:Helvetica, Arial, sans-serif; font-size:22px; line-height:46px; font-weight:normal; font-style:italic; color:#fff; background:url(images/greenbg1.gif) 0 0 no-repeat;}
.GreenTitleVisibilitycell {float:right;text-align: right;}
.GreenTitleContentpane {text-align:left;vertical-align: top;padding:0px 0px 0px 0px; clear:both;}
.GreenTitleWidth a{color:#678E17; text-decoration:underline;}
.GreenTitleWidth a:hover{color:#000000; text-decoration:underline;}
.GreenTitleWidth p{padding:0 0 15px; color:#4e4e4e;}

/* Styles for Containers GreenTitleSmall Container */
.GreenTitleSmallWidth { margin:0px 0px 10px 0px; padding:0px; background:url(images/greenbg1.gif) 0 0 no-repeat}
.GreenTitleSmallWidth h1 {padding:0px 0px 0px 25px; margin:0px; font-family:Helvetica, Arial, sans-serif; font-size:24px; line-height:47px; font-weight:normal; font-style:italic; color:#fff;}
.GreenTitleVisibilitycell {float:right;text-align: right;}
.GreenTitleContentpane {text-align:left;vertical-align: top;padding:0px 0px 0px 0px; clear:both;}

/* Styles for Header Background Container */
.HeaderBgWidth{margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; background:url(images/header-bg.jpg) 0 0 no-repeat; height:288px;}
.HeaderBgWidth h1 {padding:0px 0px 0px 14px !important; margin:0px 0px 0px 0px !important; font-family:Arial, Helvetica, sans-serif; font-size:30px; line-height:32px; font-weight:normal; color:#fff;}
.HeaderBgWidth h1 span{ margin:0; padding:0; font-size:23px; line-height:24px; font-weight:normal;}
.HeaderBgVisibilitycell {float:right;text-align: right;}
.HeaderBgContentpane {text-align:left;vertical-align: top;padding:0px 0px 0px 0px; clear:both;}

/* Styles for Left Green Panel */
.LeftGreenPanelWidth{margin:0px 0px 0px 0px; padding:10px 15px 0px 15px; background-color:#F3F9C7;}
.LeftGreenPanelVisibilitycell {float:right;text-align: right;}
.LeftGreenPanelContentpane {text-align:left;vertical-align: top;padding:0px 0px 0px 0px; clear:both;}
